<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:fragment="fragment/layout(title, content)">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{assets/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{assets/css/main.css}" rel="stylesheet" />
    <title th:replace="${title}">Welcome</title>
  </head>
  <body>
   
 <section th:replace="${content}">
</section>


  </body>
<script src="assets/bootstrap/js/bootstrap.js"></script>
</html>