<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
   
    <div th:replace="fragment/common :: appHeader"></div>
    <title th:text="${title}">Contact Us</title>
  </head>
  <body>
   
    <div class="cover-content">   
   <div th:insert="fragment/main_nav :: mainNav"></div>


   <div class="contact">

    <p class="contact-heading">Contact US</p>

<form method="post" th:action="@{\sendMessage}" th:object="${contact}" >
  <div class="container-fluid">

    <div class="row">
    <div class="col-6 contact-frm-spacing">
    <label for="validationCustom01" class="contact-label">First name</label>
    <input type="text" class="form-control" th:field="*{firstName}"  value="" placeholder="First Name" >
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</div>
  </div>
  <div class="col-6 contact-frm-spacing">
    <label for="validationCustom01" class="contact-label">Last name</label>
    <input type="text" class="form-control" th:field="*{lastName}" value="" placeholder="Last Name" >
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>
  </div>
    </div>

     <div class="row">
    <div class="col-6 contact-frm-spacing">
    <label for="validationCustom01" class="contact-label">Subject</label>
    <input type="text" class="form-control" th:field="*{subject}" value="" placeholder="Subject" >
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Error</div>
  </div>
  <div class="col-6 contact-frm-spacing">
    <label for="validationCustom01" class="contact-label">Email Address</label>
    <input type="email" class="form-control" th:field="*{email}"  value="" placeholder="Email" >
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
  </div>
    </div>

    <div class="row">
  <div class="col-12 contact-frm-spacing">
    <label for="validationCustom01" class="contact-label">Message</label>
    <textarea class="form-control" th:field="*{message}" placeholder="Enter message" required></textarea>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Error</div>
  </div>
    </div>

        <div class="row">
 <div class="col-12 contact-frm-spacing">
    <button class="btn btn-light" type="submit">Submit form</button>
  </div>
        </div>

  </div>
 








  


 
</form>

   </div>

   </div>
   
  
   

  
   <div th:insert="fragment/common :: appFooterScripts">
  </div>
  </body>
  
</html>